@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    font-family: GR;
    text-decoration: none;
    list-style: none;
    border: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    max-width: 1,777px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1308px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.header {
    background: url(/assets/img/introbg.webp);
    min-height: 930px;
    background-position: center;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 53px;
    position: relative;
}

.nav__list {
    display: flex;
    gap: 41px;
    align-items: center;
}

.burger {
    position: absolute;
    top: 52px;
    right: 20px;
    display: none;
}

.nav__list a {
    color: white;
    font-size: 15px;
}

.nav__list li:last-of-type {
    padding-left: 4.5px;
}

.logo {
    position: absolute;
    top: 45px;
    left: 44%;
}

.nav__social {
    display: flex;
    align-items: center;
    gap: 33px;
}

h1 {
    text-align: center;
    padding: 109px 0 27px;
    font-family: GB;
    font-size: 74px;
    color: white;
    max-width: 672px;
}

.header-descr {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-descr p {
    color: white;
    font-size: 28px;
    max-width: 766px;
    text-align: center;
    margin-bottom: 70px;
}

.btn {
    color: white;
    font-size: 20px;
    background: #2091F9;
    padding: 16px 62px;
    border-radius: 35px;
}

.features {
    margin: 126px 0 340px;
}

.main__title {
    width: 400;
    text-align: center;
    font-size: 48px;
    color: #252B42;
}

.title__info {
    margin: auto;
    margin-top: 25px;
    max-width: 532px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    color: #374754;
}

.features__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 76px;
    margin: 97px 0 132px;
}

.features__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    max-width: 231px;
}

.features__item h3 {
    margin-top: 8px;
    font-size: 20px;
    font-family: GB;
    color: #252B42;
}

.features__item p {
    color: #374754;
    font-size: 18px;
}

.features__item:nth-child(2) {
    transform: translateY(-15px);
}

.video {
    display: block;
    margin: auto;
    cursor: pointer;
    width: 100%;
    max-width: 1177px;
}

.sub-video {
    display: none
}

.desctop{
    display: flex;
    justify-content: center;
    gap: 69px;
    flex-wrap: wrap;
    padding-bottom: 300px;
}

.desctop img {
    width: 100%;
    max-width: 624px;
}

.desctop__text {
    padding-top: 25px;
}

.desctop__text .main__title , .mai__par {
    text-align: left;
}

.desctop__text .main__title {
    padding-bottom: 27px;
}

.desctop .mai__par {
    margin-bottom: 70px;
    color: #374754;
    text-align: left;
    max-width: 532px;
    font-size: 28px;
}

.subscribe {
    display: flex;
    justify-content: center;
    gap: 113px;
    flex-wrap: wrap;
    padding-bottom: 52px;
}

.subscribe img {
    max-width: 854px;
    width: 100%;
}

.subscribe__text {
    padding-top: 60px;
}

.subscribe__text h3 {
    color: #252B42;
    font-size: 20px;
    font-family: GB;
}

.subscribe__text .main__title {
    text-align: left;
    margin: 17px 0 35px;
}

.subscribe__text p {
    font-size: 18px;
    color: #374754;
}

.subscribe-form {
    margin-top: 36px;
}

.subscribe-form input {
    color: #18171D;
    padding: 20px 40px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 40px;
    width: 273px;
    font-size: 18px;
}

.subscribe-form .btn {
    padding: 19px 38px;
    margin-left: 12px;
}

.partners {
    margin: 130px 0 80px;
}

.partners .main__title {
    margin-bottom: 27px;
}

.partners .mai__par {
    text-align: center;
    font-size: 28px;
    color: #374754;
    margin-bottom: 90px;
}

.parents__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners .btn {
    display: block;
    margin: 80px auto 0;
    width: max-content;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials .main__title {
    margin-bottom: 80px;
}

.testimonials .mai__par {
    font-size: 28px;
    text-align: center;
}

.testimonials-profile {
    display: flex;
    align-items: center;
}

.testimonials-profile a h4 {
    color: #374754;
    font-size: 16px;
}

.testimonials-profile a p {
    color: #252B42;
    font-size: 15px;
} 

.testimonials .btn {
    margin: 80px 0 100px;
}

.pricing {
    background: #252B42;
    padding: 110px 0 100px;
}

.pricing .main__title , .mai__par {
    color: white;
    text-align: center;
}

.pricing__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 90px;
}

.pricing__cards-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252B42;
    background: #DEDEDE;
    padding: 42px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    transition: 0.3s;
}

.pricing__cards-card h4 {
    font-size: 20px;
    font-family: GB;
}

.pricing__cards-card > p {
    font-size: 16px;
    text-align: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pricing__cards-card > span > p {
    font-size: 74px;
    font-family: GB;
}

.valute {
    padding-top: 15px;
}

.card__text {
    font-size: 15px;
    margin-bottom: 20px;
}

.pricing .btn {
    margin-top: 20px;
    padding: 18px 75.5px;
    transition: 0.3s;
}

.pricing__cards-card:hover {
    color: white;
    background-color: #2091F9;
    transform: scale(1.1);
}

.pricing__cards-card:hover .btn {
    color: #2091F9;
    background: white;
}

.contacts {
    padding: 213px 0 102px;
}

.contacts .main__title {
    margin-bottom: 27px;
}

.contacts .main__par {
    color: #374754;
    font-size: 28px;
    text-align: center;
}

.contacts__active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 60px;
}

.contacts__active form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 45px;
    max-width: 453px;
    padding: 52px 50px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

.contacts__active form h3 {
    align-self: center;
    font-size: 20px;
    font-family: GB;
}

.contacts__active form input {
    font-size: 15px;
    color: #18171D;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    padding: 19px 20px;
    width: 353px;
}

.contacts__active form textarea {
    font-size: 15px;
    padding: 23px 20px;
    background: #F5F5F5;
    resize: none;
    overflow: auto;
}

.contacts__active-map {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding-top: 45px;
}

.contacts__active-map-icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
}

.contacts__active-map-icon a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contacts__active-map-icon p {
    text-align: center;
    color: #374754;
}

.contacts__active-map-soc {
    display: flex;
    align-items: center;
    gap: 33px;
    align-self: flex-start;
}

.footer {
    background: #252B42;
    padding: 155px 0 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 180px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__list h3 {
    margin-bottom: 9px;
    color: white;
    font-size: 20px;
    font-family: GB;
}

.footer__list a {
    color: white;
    font-size: 15px;
}

.foot__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.footer__contacts-cont {
    display: flex;
    gap: 17px;
    align-items: center;
    color: white;
    font-size: 15px;
}

.footer__contacts-cont:first-of-type {
    transform: translateX(-9px);
}

.footer__contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 22px;
}

.footer__contacts .nav__soc {
    margin-top: 20px;
}

.footer__contacts .nav__soc img {
    margin-right: 24px;
}